{% extends "base.html" %} {% block content %}

<main id="home">
  <h1 class="lg-heading">
    Lasha
    <span style="color: #eece1a;">Esartia</span>
  </h1>
  <h2 class="sm-heading">
    <span style="color: aqua;">ui/ux Designer</span>
    <span>Led Screen Chief specialist</span>
  </h2>
  <div class="icons">
    <a href="#!">
      <i class="fab fa-twitter fa-2x"></i>
    </a>
    <a href="#!">
      <i class="fab fa-facebook fa-2x"></i>
    </a>
    <a href="#!">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <a href="#!">
      <i class="fab fa-github fa-2x"></i>
    </a>
  </div>
</main>

{% endblock content %}
